.app__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;

    h2{
        font-size: 1.9rem;
    }

    button{
        padding-left:1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 0.8rem;
        padding-top:0.8rem;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        background-color: #499bd6;
        color:white;
        font-family: 'GT';
        font-size: 1.3rem;
    
    }
}
